<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PartTime.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EFB3373C21D61BDF00E54ACC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFB3375721D61BE300E54ACC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFB3376221D61BE400E54ACC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
